/*!
 * ETUI v2.2
 *
 * Copyright 2014 东方怡动信息技术有限公司
 */
@import url("ETUI-responsive.css");
@import url("ETUI-utility.css");
@import url("sh-responsive.css");
/* ---------通用样式定义--------- */
body{font-family: 'Microsoft YaHei',arial,helvetica,sans-serif;font-size: 14px;line-height: 180%;}
.row-fluid,.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12 {position: relative;}

/* ---------.MainNav 主导航样式定义--------- */
.MainNav .navbar-inner{border: none;background-image: none;border-radius: 0;box-shadow:none;background: #0096ff;filter: none;}
.icon-bar:before{content: none;}
.MainNav .nav li a{text-shadow: none;color: #fff;}
.MainNav .nav li a:hover,.MainNav .nav .active a,.MainNav .nav .active a:hover{color: #fff;background: #007dd6;}
.MainNav .nav li.dropdown .dropdown-toggle .caret{border-top-color: #fff;border-bottom-color:#fff;*margin-top: 5px;}
.MainNav .dropdown-menu li a{color: #666;}
.MainNav .dropdown-menu{border-radius:0;margin: 0;}
.MainNav .divider-vertical{border-right:none;}
.MainNav .btn-navbar,.MainNav a.btn-navbar:hover{background: none;font-size: 22px;}
/* --固定页面顶部的导航样式定义-- */
.MainNav.stuckMenu{z-index: 10000;width: 100%;box-shadow:0 2px 4px rgba(0,0,0,0.1);}
.MainNav.isStuck .navbar-inner{background: rgba(0,150,255,0.75);}
/* --.Sidebar 侧边栏的导航样式定义-- */
.Sidebar .nav-list{border: solid 1px #ccc; padding: 0;}
.Sidebar .nav-list .nav-header{background:#0096ff;color: #fff;font-size: 16px;text-shadow: none; padding: 8px;margin: 0;border-bottom: solid 1px #fff;}
.Sidebar .nav-list li a{border-bottom: solid 1px #ddd;margin: 0;padding: 3px 15px;display: block;}
.Sidebar .nav-list li a:hover{background-color:#eee;text-decoration: none;}
.Sidebar .nav-list .active a, .Sidebar .nav-list .active a:hover, .Sidebar .nav-list .active a:focus{background-color: #08c !important;color: #fff;}
.Sidebar .nav-list li.active:before{content: '\e925';font-family:"fontello" ;float: right;margin:2px 10px 0 0;color: #ccc;}
.Sidebar .accordion-group{margin: 0;border: none;}
.Sidebar .accordion-group .nav-header{cursor: pointer;}
.Sidebar .accordion-group .collapse{margin: 0;top: 0;}

/* ---------标题样式定义--------- */
.page-header-1{padding: 0; border-bottom: 2px solid #CCC; height: 42px; margin: 0 0 10px 0;}
.page-header-1 h3,.page-header-1 h4,.page-header-1 h5{margin: 0; color:#0A4891;}
.page-header-1 h3 span,.page-header-1 h4 span,.page-header-1 h5 span{ margin: 0; border-bottom: 2px solid #0A4891; float: left; height: 42px;letter-spacing: 1px;}
.page-header-1 h4 span{line-height: 48px;*line-height: 42px;}
.page-header-1 h5 span{line-height: 53px;*line-height: 42px;}

.page-header-1 h3 small,.page-header-1 h4 small,.page-header-1 h5 small{margin-left: 10px;line-height: 54px;*line-height:44px;}
/*更多按钮*/
a.more {position: absolute;top: 15px;*top: 18px;right: 0;font-size: 12px;padding: 0 5px;color: #333;}
a.more:hover{cursor: pointer;text-decoration: none;}
a.more:active{color: #fff;background: #0096ff;}

/* ---------列表样式定义--------- */
/*字符超出截断*/
.nowrapli,.nodiscli{margin-left: 0;}
.nowrapli li{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;list-style-position: inside !important; *width: 94%;*vertical-align: middle;}
/*为列表加上下划线*/
.borderli li{border-bottom: dashed 1px #ccc;}
/*去掉列表的点样式*/
.nodiscli li{list-style-type: none !important;}

/*列表样式*/
.uli14 li,.uli12 li{padding:6px 0;list-style-type: disc;list-style-position: outside;}
.pageList li span.listTime{float: right;color: #999;font-size: 12px;font-family: Arial;}
.pageList{margin-left:0 ;}
.pageList li{list-style: none;overflow: hidden !important;}
.pageList li a{display: block;float: left;width:70%;overflow: hidden;text-overflow: ellipsis;text-overflow: ellipsis;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;-moz-binding: url("ellipsis.xml#ellipsis");white-space: nowrap;}

.coleft{overflow: hidden; zoom:1; margin-left: 0;}
.coleft li{float: left;list-style: none;}
.coleft.uli14 li a.btn{background: #eee;border: none;box-shadow:none;display: block;margin: 3px;padding: 4px;}
.coleft.uli14 li a.btn:hover{background: #cae9ff;}
.coleft.uli14 li a.btn-line{background: #fff;border: solid 1px #ccc;box-shadow:none;display: block;margin: 2px;padding: 4px;text-align: center;}
.coleft.uli14 li a.btn-line:hover{background: #cae9ff;text-decoration: none;}

/*带大图标的列表按钮样式*/
.bigIconli li{text-align: center;}
.bigIconli li a{padding: 8px 5px !important;display: block; text-shadow: none;}
.bigIconli li i{font-size: 36px;*height: 36px;*width: 36px;*margin: 0 0 0 12px;*display: block;}
.bigIconli li p{margin: 10px 0 0 0;overflow: hidden;text-overflow: ellipsis;text-overflow: ellipsis;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;-moz-binding: url("ellipsis.xml#ellipsis");white-space: nowrap;}
.circle-btn{width: 56px;height: 56px;border-radius:56px;padding: 16px 8px 0px 8px;display: block;margin: 0 auto;}

/* ---------图片/文本滚动效果 --------- */
/*首页幻灯大图 */
.homeSlider .owl-carousel {position: relative;}
.homeSlider .owl-theme .owl-controls .owl-page span {background: #fff; margin: 5px 4px;}
.homeSlider .owl-pagination {position: absolute;bottom: 3px; right: 10px;*bottom: 8px;}
.homeSlider .clickable {cursor: default;}
.homeSlider .item{width: 100%;*height:225px;display: block;overflow: hidden;position: relative;}
.homeSlider .owl-theme .owl-controls .owl-buttons div {height: 69px;width: 42px;border-radius: 0;padding: 0;opacity: 0.8;}
.homeSlider .owl-buttons  div.owl-next,.homeSlider .owl-buttons  div.owl-prev{position: absolute;top: 35%;}
.homeSlider .owl-buttons  div.owl-next {background: url(/ytj/img/index_btn04.png);right: 0;}
.homeSlider .owl-buttons  div.owl-prev {background: url(/ytj/img/index_btn03.png);left: 0;}
.homeSlider .carousel-caption{padding: 10px;*width: 100% !important;*display: block;}
.homeSlider .carousel-caption h4 {font-size: 16px;font-weight: normal;margin: 0; height:22px; line-height:22px; color:#eee; font-size:14px;}
.homeSlider .item img{width: 100%;position: relative;max-width: inherit; height:227px; display:block;}
.homeSlider .owl-controls{margin: 0;}
.owl-theme .owl-controls .owl-page.active, .owl-theme .owl-controls.clickable .owl-page:hover{background: none !important;}

/* 多行多列图片滚动样式 */
.MuPic{display: inline-block;}
.MuPic .item {margin:0 3px;position: relative;overflow: hidden;margin-bottom: 6px;}
.MuPic .item img{display: block;width: 100%;height: 74px;}
.MuPic .carousel-caption{padding: 2%;background: rgba(0,0,0,0.55);bottom: -1px;*top: 36px;*width: 93% !important;*display: block;}
.MuPic .carousel-caption h4 {font-size: 12px;font-weight: normal;margin: 0;line-height: 28px;color: #fff; height:28px !important;}
/* 文本滚动样式 */
.ScrollText-title{float: left;width: 100px;display: inline-block;font-size: 14px;line-height: 40px;text-align: right;}
.ScrollText{width: 85%;float: left;display: inline-block;height: 32px;overflow: hidden;font-size: 14px;line-height: 40px;}



/* ---------稿件页面样式--------- */
.Article{padding: 10px;border-radius:8px;}
.Article p{line-height: 180%;overflow: hidden;}
.Article p img{display: block;margin: 30px auto;}
.Article h2{text-align: center;}
.Article h2 small{font-size: 12px;display: block;margin: 10px 0;}
.Article table{font-size: 80%;}
.Article th{background: #ddd;}
.TextInd p,p.TextInd,.TextInd{text-indent: 2em; }
/* 分享 */
#weibo_pos{width: 100%;text-align: center;font-size: 14px;font-weight: bold;overflow: visible;position: relative;}
#weibo_pos span{margin-right: 10px;font-size: 16px;line-height: 42px;}
#weibo_pos img{margin-right: 5px;cursor: pointer;}

/* ---------打印样式定义--------- */
@media print{.no-print{ display:none;}}

/* ---------TAB组件样式定义--------- */
.nav-pills li a{color: #999;}
.tab-content .tab-pane p, .pill-content .pill-pane p{margin-top: 4px;}
.nav-pills li{padding: 5px 0;}
.ColTab ul{margin-bottom: 10px;}
.ColTab .nav-tabs{border-bottom: 2px solid #ccc;}
.ColTab .nav-tabs li{margin-bottom: -2px;text-align: center;background: url(/ytj/img/tab-line.gif) no-repeat right;}
.ColTab .nav-tabs>li>a{padding: 10px 6px;font-size: 14px;border: none;line-height: 22px;font-weight: 100;display: block;color: #999;}
.ColTab> .nav-tabs>.active>a, .ColTab> .nav-tabs>.active>a:hover, .ColTab> .nav-tabs>.active>a:focus{border: none;color: #0096ff;border-radius:0;cursor: pointer;border-bottom: solid 2px #0096ff;*background: none;*color: #0096ff;*border-bottom: solid 2px #0096ff;*margin-top: 2px;*border-top: 0;*border-left: 0;*border-right: 0;}

/* ---------常用按钮色彩--------- */
.btn-Bred{background: #d96c83 !important; color: #fff !important; border-color: #d96c83 ;}
.btn-Bred:hover{background: #bd5d72 !important;}

.btn-Bpurple{background: #be8bc6 !important; color: #fff !important; border-color: #be8bc6;}
.btn-Bpurple:hover{background: #a176a8 !important;}

.btn-Byellow{background: #e4c57b !important; color: #fff !important; border-color: #e4c57b;}
.btn-Byellow:hover{background: #d5a125 !important;}

.btn-Borange{background: #ff954f !important; color: #fff !important; border-color: #ff954f;}
.btn-Borange:hover{background: #e4762e !important;}

.btn-Bblue{background: #41a3e1 !important; color: #fff !important; border-color: #41a3e1;}
.btn-Bblue:hover{background: #1e87ca !important;}

.btn-BblueAsh{background: #92bdda !important; color: #fff !important; border-color: #92bdda;}
.btn-BblueAsh:hover{background: #6ca0c3 !important;}

.btn-Bpink{background: #f38d8d !important; color: #fff !important; border-color: #f38d8d;}
.btn-Bpink:hover{background: #cd6c6c !important;}

.btn-Bgrey{background: #ccc !important; color: #fff !important; border-color: #ccc;}
.btn-Bgrey:hover{background: #aaa !important;}

.btn-Bgreen{background: #85ce64 !important; color: #fff !important; border-color: #85ce64;}
.btn-Bgreen:hover{background: #6cb84b !important;}

.btn-Bsky{background: #66c2c2 !important; color: #fff !important; border-color: #66c2c2;}
.btn-Bsky:hover{background: #44a3a3 !important;}

.btn-Bbrown{background: #cb8f53 !important; color: #fff !important; border-color: #cb8f53;}
.btn-Bbrown:hover{background: #b16518 !important;}

/*--------自定义样式--------*/
body{}
ul{margin:0; padding:0;}
ul li { list-style: none;}
.main{background:#FFF; width:1170px;margin:0px auto; overflow:hidden; zoom:1;}

.header{width: 1170px;  margin:0 auto; overflow:hidden; zoom:1;position: relative;}

.logo{float:left;width:33%; overflow:hidden; zoom:1;}


.search{float:left; width:31%;}
.subsearch{height:34px;margin:0px auto;width:500px;margin-top:200px}
.subsearch input{width:400px;height:34px !important; line-height:34px;padding:0px;font-size:10px; text-indent: 1em;border:1px solid #003299;}
.subtq{ width:240px;height:31px; float:left;}
.subtq span{ font-size:10px; margin::5px 0px;}

.nav2{float:left; width:36%; margin-top:36px;}
.nav_app{ width: 80%; height:30px;float: right;}
.nav_app i { font-size: 25px;margin-right: 5px;}
.nav_app ul li{ float:left; width:28%;padding-left: 5%;}
.nav_app a{color:#575757;font-size:12px;}
.subnav{width:80%; padding-left:10px; border-top:1px solid #CCCCCC;float: right;text-align: center; }
.subnav a{font-size:12px; color:#353535;margin-right: 10px;}

.menu{width:100%; height:50px; background:#0A4891; margin:0 auto;}
.menu ul{ width:1170px; margin:0 auto !important;}
.menu ul li{float:left; width:12.5%;height:50px; text-align:center; line-height:50px !important;}

.zfxxgk{ width:178px !important;}
.menu ul li a{color:#FFFCF8; font-size:16px; display:block; height:50px; line-height:50px; padding:0px 5px;}
.menu ul li a:hover{background:#007CD4; text-decoration:none;height:49px;}

.top{ height:auto;}
.liebiao{ overflow:hidden; zoom:1;}
.liebiao .pageList li { line-height: 25px;}
.dqwz{ height:50px; font-size:14px; line-height:50px;}
.dqwz a{ color:#494949;}
.page-header-1 h4{line-height:44px;height:44px;}
.jcss{background:url(/ytj/image/c1.jpg) left no-repeat; height:44px;}
.xxcy{ background:url(/ytj/image/c2.jpg) left no-repeat; height:44px;}
.dzzw{ background:url(/ytj/image/c3.jpg) left no-repeat; height:44px;}
.szhm{ background:url(/ytj/image/c4.jpg) left no-repeat; height:44px;}
.tszs{background:url(/ytj/image/c6.jpg) left no-repeat; height:44px;}
.zhgd{ background:url(/ytj/image/c7.jpg) left no-repeat; height:44px;}
.foot-gywm{ height:40px; line-height:40px;background:#0B4990; text-align:center;}
.foot-gywm a{ color:#FFF;}
.footer{ text-align:center; padding:8px 0;}
.footer p{ margin:0 !important;}
.uli14 li a{ color:#333333;}
.zhgd-img { padding-left:12px;}
.zhgd-img2 li{ width:198px; height:190px;float:left;margin:10px 0px;}
.zhgd-img2 li img{width:198px;}
.zhgd-img2 li a{ color:#333;}
.zhgd-img2 li em{ width:3px; height:3px; background:#000; float:left; margin:8px 5px 0 0; overflow:hidden; zoom:1;}
.zyjianju{margin:10px 35px !important;}
.zhgd-img li{ width:222px; height:220px;float:left;margin: 10px 9px 10px 0;}
.zhgd-img li a{ color:#333;}
.zhgd-img li em{ width:3px; height:3px; background:#000; float:left; margin:8px 5px 0 0;}
.Article{border:1px solid #ccc;}
.wz-news{ text-indent:2em;}
.Article_content p{ margin:0 9%;}
.zflb-zh li{ width:145px; height:40px; border:1px solid #B6B6B6;float:left; margin:0 6px 5px 0; padding-top:17px;}
.zflb-zh li a{padding-left: 15px;}
.zfjg-r{ margin-right:5px;}
.zxgkxx h5{color:#0A4890;font-weight:bold; margin:0 !important;}
.yqlj{ width:940px;}
.bszn{color:#FF6600; font-weight:bold; margin-left:16px; font-size:14px;}
.shxytx li{ width:46%; border:1px solid #CCC; text-align:center;border-radius: 4px;padding: 0;}
.shxytx li:first-child { margin-right: 6.4%;}
.shxytx li a { font-size: 16px; color: #0b4990;background: #eee;height: 70px;line-height: 70px;display: block;}
.shxytx li a i { font-size: 25px;margin-right: 12px;}
.shxytx li a:hover { text-decoration: none;background: #EDF5FF;}
/*--------xiao5样式--------*/
.content{ overflow:hidden; zoom:1; margin:0 auto;}
.reda{color:#CC0000 !important;}
.reda2{ border-bottom:1px solid #005A99;}
.xxgkb{width:147px;height:66px;}
.xxgka{padding:20px 17px !important;width:108px !important;}


.flink{width:945px;height:73px; margin-left:40px !important;}
.friendlink ul{margin:0px 20px;}
.friendlink ul li{float:left !important;list-style: none; width:180px;}
.friendlink ul li a{color:#333333; font-weight:bold;}
.youqing1{margin-left:150px;}
.youqing2{margin: 0px 150px;}

.subfriendlink{width: 1020px;height: 50px;background: #0A4891;}
.subfriendlink ul{margin: 0 !important;padding: 0 !important;}
.subfriendlink ul li{float: left;margin-left: 33px;height: 50px;line-height: 50px !important;}
.subfriendlink ul li a{color: #FFFCF8;font-size: 16px;display: block;height: 50px;line-height: 50px;padding: 0px 5px;}

.xuxian img{ float:left;}
.xuxian span{ float:left; width:220px;margin:10px 0 0 10px; display:block; border-bottom:dashed 1px #ccc; height:30px; line-height:30px;}

.shebao{ margin-right:5px;}
.shebao a{ display: block; height:65px;line-height:65px; text-align:center; width:81px;}

.kxjs{ float:left;}
.icon-search{ color:#FFF;}
.subsearch a{background:#0066CC;display:block; width:10%; height:34px;float:left;color: #fff;text-align: center;line-height: 34px; _width:39px;_height:32px;_line-height:32px;margin-left:5px}
.subsearch a i { font-size: 25px;}
.xiahuaxian{ border-bottom:2px solid #0A4891;}
.xiahuaxian h4{ padding-left:15px;}
.lispan{ margin:0 !important;}
.lispan li span{ float:right;color: #999;font-size: 12px;font-family: Arial;}
.pageList em{ width:5px; height:5px; margin:8px 10px 0 0; background:#000; float:left; overflow:hidden; zoom:1;border-radius:50%;}
.imgdd .pageList li { line-height: 27px;}
.imgdd .pageList li em { margin-top: 11px !important;}
.question{border:1px solid #B6B6B6;  text-align: center;}
.dixian{ border-bottom:1px solid #005A99;margin-bottom: 12px;padding-bottom: 8px;}


.tzggright{float:right;}
.juzhong{text-align:center;}
.fegexian{ border:1px solid #005A99 !important;margin: 25px 0 !important;}
.search span{font-size:12px; display:block;float: left;width:235px;}

.hudong li{width: 145px;border: 1px solid #B6B6B6;float: left;padding:8px 0px;padding-top: 12px; margin-right: 8px; text-align: center;}
.hudongleft{margin-right: 5px;}
.hudong li a{padding-left:10px;}

.ewm{margin:30px 0;}
.ewm img{float: left;}
.ewm a{float: left; font-weight: bold; color:#333; margin-left: 30px;}
.ewm p{color: #959595; margin: 0;padding-left: 110px}



.tbinfo li a{width:80% !important;}

.youbian{margin: 0 20px;}

.jbaddress{margin-left: 32px;}
.ttnew{border-bottom: 1px solid #005a99;}
.ttnew a{ float: right; color: #7d7d7d;}
.ttnew h4{margin: 5px 0 !important;}
.ttnew p{margin: 0 !important;padding:0;line-height: 1.5;}

.xxgk li{margin-bottom:5px;}

.bqdt li{padding: 3px 0 !important;}
.tempWrap { width: 100% !important;overflow:hidden;position:relative;}

.picScroll-right {
  overflow: hidden;
  zoom: 1;
  margin: 0 auto;
  position: relative;
}

.prev {
  background: url(/ytj/image/right.jpg) no-repeat;
  right: 1px;
  width: 11px;
  height: 19px;
}
.next {
  background: url(/ytj/image/left.jpg) no-repeat;
  left: 1px;
  width: 11px;
  height: 19px;
}
.pr, .ne {
  display: block;
  width: 12px;
  height: 88px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 12px !important;
}
.picScroll-right .bd {
  padding: 10px 0 0 0;
}
.picScroll-right .bd ul {
  overflow: hidden;
  zoom: 1;
}
.picScroll-right .bd ul li {
  margin: 0;
  float: left;
  _display: inline;
  overflow: hidden;
  text-align: center;
  list-style: none;
}
.picScroll-right .bd ul li .pic {
  text-align: center;
}
.picScroll-right .bd ul li .pic img {
  height: 128px;
  display: block;
  padding: 2px;
  margin-right: 2px;
}
.picScroll-right .bd ul li .title {
  line-height: 24px;
}
.picList { 
	width:1160px;
	left:-580px;
	position:relative;
	overflow:hidden;
	padding:0;
	margin:0;
}
.qfly-link li{height: 50px;
  line-height: 50px;
  border: 1px solid #B6B6B6;
  float: left;
  margin: 0 15px 5px 0;}
.qfly-link li a {
  padding-left: 15px;
}
.margin-xx50 { margin: 50px 9% !important;}

h4 span i.iconfont { padding-right: 12px;font-size: 20px;}
li { line-height: 17px;}
.margin-top16 { margin-top: 16px;}
.more i { margin-left: 5px;}
.imglink a { display: inline-block;width: 32%;margin: 30px 0 10px 2%;}
.imglink a:first-child { margin-left: 0;}

.picMarquee-left{ overflow:hidden; position:relative;}
.picMarquee-left .bd{ padding:10px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic img{ width:173px; height:128px; display:block;}
.picMarquee-left .bd ul li .pic a:hover img{ border-color:#999;  }

.main-nav p {
    color: #fff;
    font-weight: bold;
    float: left;
    line-height: 50px;
    margin: 0;
}

#skip {
    height: 0;
    overflow: hidden;
}
.wza { position: absolute;top: 0;right: 0;}
.navbar .nav>li>a { padding: 0;color: #fff;text-shadow:none;}
.navbar .nav { float: none;}
.navbar-inner { background: none;padding: 0;}
.main-nav .btn-navbar {
    background: #337bad;
    padding: 12px 15px;
    margin: 0;
}
.main-nav .btn-navbar:hover {
    background: #337bad;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus { background: #00a2ee; color: #fff;}
.main-nav .nav li a:hover, .main-nav .nav li.active a, .main-nav .nav li a:focus { background: #00a2ee; color: #fff;}





